.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 40px 20px;
  background-color: #f8f8f8;
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.footer-logo p {
  color: #383838;
  font-size: 40px;
  font-weight: 700;
}

.footer-links {
  display: flex;
  list-style: none;
  gap: 50px;
  color: #252525;
  font-size: 20px;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.footer-links li {
  cursor: pointer;
}

.footer-social-icon {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-icon-container {
  padding: 10px;
  background: #fbfbfb;
  border: 1px solid #ebebeb;
  border-radius: 8px;
}

.footer-copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  color: #1a1a1a;
  font-size: 16px;
  text-align: center;
  width: 100%;
}

.footer-copyright hr {
  width: 80%;
  border: none;
  border-radius: 10px;
  height: 3px;
  background: #c7c7c7;
}

/* ----------- Responsive Styles ----------- */
@media (max-width: 768px) {
  .footer-logo p {
    font-size: 28px;
    text-align: center;
  }

  .footer-links {
    gap: 20px;
    font-size: 16px;
  }

  .footer-logo img {
    height: 50px;
  }

  .footer-icon-container img {
    height: 24px;
  }

  .footer-social-icon {
    gap: 15px;
  }

  .footer {
    gap: 30px;
  }
}
